<h1>Welcome to WebGems</h1>
<h3>The best place to save those great websites you find.</h3>
<% if current_user %>
  <%= link_to "My Topics", topics_path %>
<% else %>
  <p><%= link_to "Sign In", new_user_session_path, class: 'btn btn-success' %></p>
  <p><%= link_to "Sign up for a new account", new_user_registration_path, class: 'btn btn-success' %></p>
<% end %>
